<div class="edit-users mat-elevation-z8">
  <mat-form-field *ngIf="listSel.show" style="padding-right:32px;" [style.width.px]="listSel.widthpx">
    <mat-select #listSelCtl [disabled]="listSel.disabled" placeholder="Select {{listSel.placeholder}}..." (selectionChange)="getFullList()" [(ngModel)]="listSel.selected">
      <mat-option *ngIf="listSel.filt.show">
        <ngx-mat-select-search [formControl]="listSel.filt.ctl" placeholderLabel="Filter..."></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let rec of listSel.displayList | async" [value]="rec.code">{{ rec.description }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyListFilter(input.value)" #input value="">
  </mat-form-field>

	<button mat-icon-button color="primary" class="small-icon-button" (click)="onAddClick()" [disabled]="addmode">
		<mat-icon>add</mat-icon>
	</button>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container [matColumnDef]="col.fieldname" *ngFor="let col of tbldatasvc.coldefs()">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{ col.colhdr }}">
        <div [ngSwitch]="col.datatype">
          <span *ngSwitchCase="'buttons'"></span>
          <span *ngSwitchDefault>{{ col.colhdr }}</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row, col)">
        <div [ngSwitch]="col.datatype">

          <div *ngSwitchCase="'buttons'" class="btn-edit">
            <ng-container *ngFor="let btn of btnlist">
              <button mat-icon-button class="small-icon-button" [color]="btn.color" matTooltip="{{btn.tooltip}} {{iconbtns[row.id+btn.icon]?.reccnt}}"
                      (click)="btn.click(row)"
                      [disabled]="iconbtns[row.id+btn.icon]?.disabled">
                <mat-icon>{{ btn.icon }}</mat-icon>
              </button>
            </ng-container>
          </div>

          <span *ngSwitchCase="'bool'">
            <mat-checkbox [ngModel]="row[col.fieldname]" [disabled]="true" />
          </span>

          <span *ngSwitchCase="'date'">
            {{ row[col.fieldname] | date: 'mediumDate' }}
          </span>

          <span *ngSwitchCase="'dropdown'">
            {{ codelistscachesvc.getSelVal(col.addsellistid||col.updsellistid, row[col.fieldname]) }}
          </span>

          <span *ngSwitchDefault>
            {{ row[col.fieldname] }}
          </span>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tbldatasvc.displayedColumns; sticky:true;"></tr>
    <tr mat-row *matRowDef="let row; columns: tbldatasvc.displayedColumns" (mouseenter)="SetIconsSts(row)"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="2">No rows matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
