<div class="edit-users mat-elevation-z8 codes-container">
  <mat-form-field *ngIf="listSel.show" style="padding-right:32px;" [style.width.px]="listSel.widthpx">
    <mat-select #listSelCtl placeholder="Select {{listSel.placeholder}}..." (selectionChange)="showCodeSet()" [(ngModel)]="listSel.selected">
      <mat-option *ngIf="listSel.filt.show">
        <ngx-mat-select-search [formControl]="listSel.filt.ctl" placeholderLabel="Filter..."></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let rec of listSel.displayList | async" [value]="rec.code">{{ rec.description }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="listSel.selected" style="padding-left:32px;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyListFilter(input.value)" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
    <ng-container [matColumnDef]="col.fieldname" *ngFor="let col of tbldatasvc.coldefs()">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!col.issort">
        <div [ngSwitch]="col.datatype">
          <span *ngSwitchCase="'buttons'">
            <button mat-icon-button color="primary" class="small-icon-button" (click)="onAddClick()" [disabled]="disablebuttons">
              <mat-icon>add</mat-icon>
            </button>
          </span>
          <span *ngSwitchDefault>
            {{ col.colhdr }}
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">
        <div [ngSwitch]="col.datatype" *ngIf="!row.isEdit">
          <div class="btn-edit" *ngSwitchCase="'buttons'">
            <button mat-icon-button class="small-icon-button" color="primary" matTooltip="Edit" (click)="onEditClick(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="small-icon-button" color="warn" (click)="onDelClick(row)" matTooltip="Delete!">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <span *ngSwitchCase="'date'">
            {{ row[col.fieldname] | date: 'mediumDate' }}
          </span>
          <span *ngSwitchDefault>
            {{ row[col.fieldname] }}
          </span>
        </div>

        <div [ngSwitch]="col.datatype" *ngIf="row.isEdit">

          <div *ngSwitchCase="'buttons'" class="btn-edit">
            <button mat-icon-button color="primary" class="small-icon-button" (click)="onSaveClick(row)" [disabled]="!hasChanges(row)" matTooltip="Save">
              <mat-icon>save</mat-icon>
            </button>

            <button mat-icon-button color="primary" class="small-icon-button" (click)="onCancelClick(row)" matTooltip="Cancel">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>

          <mat-form-field *ngSwitchCase="'date'" class="form-input" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput
                   [ngStyle]="{'background-color': (col.haschanges) ? 'papayawhip' : 'white'}"
                   [matDatepicker]="picker"
                   [(ngModel)]="row[col.fieldname]"
                   (change)="valRec(row)" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint style="color:red">{{col.errmsg}}</mat-hint>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'bool'" class="form-input">
            <mat-checkbox
                          [ngStyle]="{'background-color': (col.haschanges) ? 'papayawhip' : 'white'}"
                          [ngModel]="row[col.fieldname]"
                          (change)="row[col.fieldname] = $event.checked"
            ></mat-checkbox>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'number'" class="form-input">
            <input type="number"
                   matInput
                   [ngStyle]="{'background-color': (col.haschanges) ? 'papayawhip' : 'white'}"
                   (ngModelChange)="row[col.fieldname] = $event"
                   [ngModel]="row[col.fieldname]"
                   (change)="valRec(row)" />
            <mat-hint style="color:red">{{col.errmsg}}</mat-hint>
          </mat-form-field>

          <mat-form-field *ngSwitchDefault class="form-input">
            <input [type]="col.datatype"
                   matInput
                   [ngStyle]="{'background-color': (col.haschanges) ? 'papayawhip' : 'white'}"
                   [(ngModel)]="row[col.fieldname]"
                   (change)="valRec(row)" />
            <mat-hint style="color:red">{{col.errmsg}}</mat-hint>
          </mat-form-field>

        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tbldatasvc.displayedColumns; sticky:true;"></tr>
    <tr mat-row *matRowDef="let row; columns: tbldatasvc.displayedColumns"></tr>

    <!-- Row shown when there is no matching data.
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="2">No rows matching the filter "{{input.value}}"</td>
  </tr> -->
  </table>
</div>
