<mat-form-field *ngIf="listSel.show && listSel.displayList" [style.width.px]="listSel.widthpx" [style.visibility]="listSel.visibility">
  <mat-select #listSelCtl placeholder="Select {{listSel.placeholder}}..." (selectionChange)="fillScreen(listSel.selected)" [(ngModel)]="listSel.selected">
    <mat-option *ngIf="listSel.filt.show">
      <ngx-mat-select-search [formControl]="listSel.filt.ctl" placeholderLabel="Filter..."></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let rec of listSel.displayList | async" [value]="rec.code">{{ rec.description }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-card>
  <!--
  +------------------------------------------------------
  |	Header
  +------------------------------------------------- -->
  <mat-card-header>
    <mat-card-title>{{AcademicYear}} Academic Year {{stuschdefrec.description?'- '+stuschdefrec.description:''}}</mat-card-title>
    <!--
    +------------------------------------------------------
    |	Authorization/Status messages
    +------------------------------------------------- -->
    <mat-card-subtitle *ngIf="showContent && statusMsg()" style="color:blue;font-size: larger; padding-top: 1em; padding-bottom: 1em; ">{{statusMsg()}}</mat-card-subtitle>
  </mat-card-header>

  <ng-container *ngIf="showContent && isStuEligible && AcceptingApplications">
    <!--
    +------------------------------------------------------
    |	Application
    +------------------------------------------------- -->
    <mat-card-content>
      <div [innerHTML]="stuschdefrec.scholarshiptext"></div>

      <div class="gcs-frm-grp">
        <mat-label class="gcs-lbl-hdr">Name</mat-label>
        <div>{{stuname}}</div>
      </div>

      <div class="gcs-frm-grp">
        <mat-label class="gcs-lbl-hdr">Email Address</mat-label>
        <div>{{stuemail}}</div>
      </div>

      <div class="gcs-frm-grp">
        <mat-label class="gcs-lbl-hdr">Date Enrolled in first GCS Course</mat-label>
        <div>{{firstcrsdt | date:'dd-MMM-yyyy'}}</div>
      </div>

      <div class="gcs-frm-grp">
        <mat-checkbox [(ngModel)]="schgivenrec.cadinfoauth"
                      (ngModelChange)="ClearMsgs()"
        >
          <span [innerHTML]="stuschdefrec.statusconfirm"></span>
        </mat-checkbox>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="button" class="btn btn-primary" (click)="Save();"
        [disabled]="!schgivenrec.cadinfoauth">Submit Application
      </button>&nbsp;
    </mat-card-actions>
  </ng-container>
</mat-card>
